.10_293 { 
	overflow:hidden;
}.e10_293 { 
	background-color:rgba(18.000000827014446, 25.000000409781933, 40.00000141561031, 1);
	width:1440px;
	height:2129px;
	position:absolute;
}.e10_418 { 
	box-shadow:0px 25px 50px rgba(0, 0, 0, 0.25);
	width:313px;
	height:268px;
	position:absolute;
	left:124px;
	top:139px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	background-image:url(images/aqua1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10_419 { 
	box-shadow:0px 25px 50px rgba(0, 0, 0, 0.25);
	width:569px;
	height:268px;
	position:absolute;
	left:471px;
	top:139px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	background-image:url(images/background1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10_420 { 
	box-shadow:0px 25px 50px rgba(0, 0, 0, 0.25);
	width:243px;
	height:532px;
	position:absolute;
	left:1076px;
	top:139px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	background-image:url(images/background2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10_421 { 
	box-shadow:0px 25px 50px rgba(0, 0, 0, 0.25);
	width:916px;
	height:220px;
	position:absolute;
	left:124px;
	top:451px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	background-image:url(images/background3_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10_422 { 
	box-shadow:0px 25px 50px rgba(0, 0, 0, 0.25);
	width:662px;
	height:372px;
	position:absolute;
	left:124px;
	top:715px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	background-image:url(images/background4_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10_423 { 
	box-shadow:0px 25px 50px rgba(0, 0, 0, 0.25);
	width:499px;
	height:373px;
	position:absolute;
	left:820px;
	top:715px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	background-image:url(images/oeil_dans_oeil_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10_425 { 
	box-shadow:0px 25px 50px rgba(0, 0, 0, 0.25);
	width:270px;
	height:405px;
	position:absolute;
	left:124px;
	top:1533px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	background-image:url(images/gotsw2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10_426 { 
	box-shadow:0px 25px 50px rgba(0, 0, 0, 0.25);
	width:890px;
	height:526px;
	position:absolute;
	left:429px;
	top:1533px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	background-image:url(images/gotsw3_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10_429 { 
	box-shadow:0px 25px 50px rgba(0, 0, 0, 0.25);
	width:74px;
	height:74px;
	position:absolute;
	left:168px;
	top:1977px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	background-image:url(images/instagram_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10_430 { 
	box-shadow:0px 25px 50px rgba(0, 0, 0, 0.25);
	width:86px;
	height:95px;
	position:absolute;
	left:263px;
	top:1964px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	background-image:url(images/x_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10_424 { 
	box-shadow:0px 25px 50px rgba(0, 0, 0, 0.25);
	width:1192px;
	height:364px;
	position:absolute;
	left:120px;
	top:1123px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	background-image:url(images/travis_rocky_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10_452 { 
	box-shadow:0px 25px 50px rgba(0, 0, 0, 0.25);
	background-color:rgba(31.000000052154064, 41.00000135600567, 55.00000052154064, 1);
	width:1197px;
	height:52px;
	position:absolute;
	left:122px;
	top:70px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}.e10_448 { 
	width:46px;
	height:46px;
	position:absolute;
	left:43px;
	top:3px;
	background-image:url(images/logo_rose_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10_445 { 
	color:rgba(255, 255, 255, 1);
	width:218px;
	height:48px;
	position:absolute;
	left:114px;
	top:2px;
	font-family:Merriweather Sans;
	text-align:left;
	font-size:38.400001525878906px;
	letter-spacing:0;
}.e10_449 { 
	transform: rotate(90.0000025044791deg);
	width:44px;
	height:0px;
	position:absolute;
	left:357px;
	top:4px;
}.10_449 { 
	border:3px solid rgba(255, 255, 255, 1);
}.e10_450 { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:25px;
	position:absolute;
	left:382px;
	top:13.5px;
	font-family:Merriweather Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e10_451 { 
	color:rgba(255, 255, 255, 1);
	width:98px;
	height:25px;
	position:absolute;
	left:491px;
	top:13.5px;
	font-family:Merriweather Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}