.10_453 { 
	overflow:hidden;
}.e10_453 { 
	background-color:rgba(18.000000827014446, 25.000000409781933, 40.00000141561031, 1);
	width:1440px;
	height:2472px;
	position:absolute;
}.e10_462 { 
	box-shadow:0px 25px 50px rgba(0, 0, 0, 0.25);
	width:74px;
	height:74px;
	position:absolute;
	left:888px;
	top:2320px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	background-image:url(images/instagram_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10_463 { 
	box-shadow:0px 25px 50px rgba(0, 0, 0, 0.25);
	width:86px;
	height:95px;
	position:absolute;
	left:983px;
	top:2307px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	background-image:url(images/x_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10_465 { 
	box-shadow:0px 25px 50px rgba(0, 0, 0, 0.25);
	background-color:rgba(31.000000052154064, 41.00000135600567, 55.00000052154064, 1);
	width:1197px;
	height:52px;
	position:absolute;
	left:122px;
	top:70px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}.e10_466 { 
	width:46px;
	height:46px;
	position:absolute;
	left:43px;
	top:3px;
	background-image:url(images/logo_rose_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10_467 { 
	color:rgba(255, 255, 255, 1);
	width:218px;
	height:48px;
	position:absolute;
	left:114px;
	top:2px;
	font-family:Merriweather Sans;
	text-align:left;
	font-size:38.400001525878906px;
	letter-spacing:0;
}.e10_468 { 
	transform: rotate(90.0000025044791deg);
	width:44px;
	height:0px;
	position:absolute;
	left:357px;
	top:4px;
}.10_468 { 
	border:3px solid rgba(255, 255, 255, 1);
}.e10_469 { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:25px;
	position:absolute;
	left:382px;
	top:13.5px;
	font-family:Merriweather Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e10_470 { 
	color:rgba(255, 255, 255, 1);
	width:98px;
	height:25px;
	position:absolute;
	left:491px;
	top:13.5px;
	font-family:Merriweather Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e10_471 { 
	box-shadow:0px 25px 50px rgba(0, 0, 0, 0.25);
	width:279px;
	height:349px;
	position:absolute;
	left:122px;
	top:137px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	background-image:url(images/motif_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10_472 { 
	box-shadow:0px 25px 50px rgba(0, 0, 0, 0.25);
	width:233px;
	height:349px;
	position:absolute;
	left:426px;
	top:137px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	background-image:url(images/montage_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10_473 { 
	box-shadow:0px 25px 50px rgba(0, 0, 0, 0.25);
	width:372px;
	height:349px;
	position:absolute;
	left:684px;
	top:137px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	background-image:url(images/logotype_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10_474 { 
	box-shadow:0px 25px 50px rgba(0, 0, 0, 0.25);
	width:236px;
	height:337px;
	position:absolute;
	left:1081px;
	top:143px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	background-image:url(images/taxi2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10_476 { 
	box-shadow:0px 25px 50px rgba(0, 0, 0, 0.25);
	width:668px;
	height:472px;
	position:absolute;
	left:122px;
	top:512px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	background-image:url(images/avion_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10_477 { 
	box-shadow:0px 25px 50px rgba(0, 0, 0, 0.25);
	width:500px;
	height:744px;
	position:absolute;
	left:819px;
	top:512px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	background-image:url(images/illustration_sans_texte_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10_478 { 
	box-shadow:0px 25px 50px rgba(0, 0, 0, 0.25);
	width:296px;
	height:419px;
	position:absolute;
	left:122px;
	top:1010px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	background-image:url(images/affiche_altaleghje_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10_479 { 
	box-shadow:0px 25px 50px rgba(0, 0, 0, 0.25);
	width:345px;
	height:431px;
	position:absolute;
	left:444px;
	top:1010px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	background-image:url(images/blue1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10_480 { 
	box-shadow:0px 25px 50px rgba(0, 0, 0, 0.25);
	width:500px;
	height:614px;
	position:absolute;
	left:819px;
	top:1287px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	background-image:url(images/blue2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10_481 { 
	box-shadow:0px 25px 50px rgba(0, 0, 0, 0.25);
	width:374px;
	height:443px;
	position:absolute;
	left:415px;
	top:1458px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	background-image:url(images/blue4_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10_483 { 
	box-shadow:0px 25px 50px rgba(0, 0, 0, 0.25);
	width:273px;
	height:443px;
	position:absolute;
	left:122px;
	top:1458px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	background-image:url(images/blue3_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10_484 { 
	box-shadow:0px 25px 50px rgba(0, 0, 0, 0.25);
	width:322px;
	height:472px;
	position:absolute;
	left:122px;
	top:1930px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	background-image:url(images/le_jour_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10_485 { 
	box-shadow:0px 25px 50px rgba(0, 0, 0, 0.25);
	width:373px;
	height:465px;
	position:absolute;
	left:465px;
	top:1930px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	background-image:url(images/plonger_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}